body 
{

	background-color:#fff;
	color:#333;
	font-weight: bold;

}


#cp, #sources
{
	max-width:800px;
	margin:0 auto;
	padding:10px 20px;
}


#carte
{
	position: relative;
	background-color:#666;
	text-align: center;
	min-height: 520px;
}


#conteneurClassement
{
	
	position: absolute;
	left: 2%; top: 0%;
	background-color: #ccc;
	text-align: left;
	width: 300px;
	height: 100%;
	overflow: scroll;

}


#loader
{
	position: absolute;
	top: 2%;
	left: 50%;
	display: none;
}





.mode2d #carteSvg
{
	display: inline;
}

.mode2d #canvas3d
{
	display: none;
}

.mode3d #carteSvg
{
	display: none;
}

.mode3d #canvas3d
{
	display: inline;
}






#classement
{
	overflow: scroll;
}


#classement li
{
	cursor: pointer;
	list-style-type:none;
	margin: 0; padding: 0;
}




#control_annees
{
	margin: 2%;
	text-align: center;
}


#btn_precedent 
{
	margin-right: 2%;
}

#btn_suivant
{
	margin-left: 2%;
}



#control_mode
{
	position: absolute;
	top: 2%; right: 2%;
}



