// LESS config file
@import "00-config";

// LESS base styles
@import "01-base";

// LESS files : chose the ones you need
@import "02-grids";
@import "03-tables"; 
@import "04-forms";
@import "05-icons";
@import "06-rwd";
@import "07-flexbox"; 
@import "08-print";

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can also link them with a LESS @import */
/* @import "my-styles.less"; */

body{position: relative; height: 100%;}

li {
	list-style:none;
}

.mode2d {
	#carte2d, #btn_3d {
		display: inline;
	}
	#carte3d, #btn_2d, #btn_rotation, #noWebgl {
		display: none;
	}

}

.mode3d {
	#carte3d, #btn_2d {
		display: inline;
	}
	#btn_rotation {
		display: block;
	}
	#carte2d, #btn_3d, #noWebgl {
		display: none;
	}

}


.noWebgl {
	#carte2d, #btn_2d, #noWebgl {
		display: inline;
	}
	#carte3d, #btn_rotation, #btn_3d {
		display: none;
	}

}




/* WEBFONT */
@font-face 
{
    font-family: 'BebasNeueRegular';
    src: url('http://rsf.org/squelettes/fonts/BebasNeue-webfont.eot');
    src: url('http://rsf.org/squelettes/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://rsf.org/squelettes/fonts/BebasNeue-webfont.woff') format('woff'),
         url('http://rsf.org/squelettes/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('http://rsf.org/squelettes/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* END WEBFONT */

#cp, #sources 
{
	max-width:@smallscreen;
}

h1, h2, h3
{
	&, .grid & {
		font-family:"BebasNeueRegular";
		font-weight: normal!important;
		line-height: 1
	}

	.rtl & {
		text-align:right;
	}

	a {
		text-decoration: none;
		color:#000;
	}
}

i {
	display: inline;
	font-variant: italic;
}

nav {
	padding:20px 0;

	a{
		display: block;
		background-color: #cecece;
		color:#101010;
		text-align: center;
		border-radius: 2px;
		text-decoration: none;
		line-height: 0.95;
		padding:4px 0;
		margin-bottom: 3px;
		&:hover {
			background-color: #bbb;
		}
	}

	.shortText a{
		padding:10px 0;  
		line-height: 1;
	}

}

#selected-asie #asie a, #selected-afrique #afrique a, #selected-ameriques #ameriques a, #selected-mo  #mo a, #selected-ue #ue a, #selected-europe-est #europe-est a {
	background-color: #fff;
	font-family:"BebasNeueRegular";
	font-weight: normal;
	font-size: 1.3em;
}

#langues a{
	font-size:0.7em;
}



#noWebgl
{
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 1em;
	text-align: center;
	z-index: 3;
	
	& > * 
	{
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	
}


#loader
{
	position: absolute;
	top: 20%;
	left: 48%;
	width: 40px;
	height: 40px;
	z-index: 2;
}


#main
{

	position:relative;
	background-color: #282828;
	color: #fff;
	width: 100%;
	height:100%;
	max-height: 600px;
	overflow: hidden;
	margin: 30px 0;
}




#carte {

	position: relative;
	width: 80%;
	text-align: center;
	float: left;
	z-index:50;
	
	#carte2d, #carte3d  {
		z-index: 0;
		margin: -26% 0;
	}


}

#classement {
	position: relative;
	z-index:100;
	background-color: rgba(0,0,0,0.2);
	height: 800px;
}

#control_annees {
	margin:10px 30px;
	& > * {
		text-align:center;
	}
}

#btn_precedent, #btn_suivant {
	padding:25px 0 0 ;
}

#liste-container {
	position: relative;
	width:100%;
	height: 80%;
	overflow-y: scroll;

}

#liste {

	margin:10px 60px;
	height:4000px;

	li {
		width:100%;
	}

	.position {
		.w20;
		display: block;
		float:left;
		font-weight: bold;
	}

	.name{
		position: relative;
		.w80;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.itemPays {
		cursor: pointer;	
	}
}





/*
#classement {
	background-color: rgba(0,0,0,0.2);
	padding:15px;
}

#control_annees {
	z-index: 100;
}




#liste
{

	.position {
		.w50p;
		display: block;
		float:left;
		font-weight: bold;
	}

	.name{
		position: relative;
		width:150px;	
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.itemPays {
		cursor: pointer;	
	}

}
*/

.encadre {
	background-color: #FBF8D4;
	padding: 50px 130px 30px 30px;
	margin:10px 0 0;
}


#control_mode
{
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 1000;
	padding:30px;
	text-align: center;

	.w100p;

	.mode3d & {
		width:260px;
	}

	background-color: rgba(0,0,0,0.3);

	#btn_2d, #btn_3d {
		
		background: transparent url("../data/sprite.png") no-repeat -97px top scroll ;
		width:49px;
		height:50px;

		margin:0 3px 10px 0 !important ;

		border: none;

		line-height: 100;

		overflow: hidden;
		margin:0;
		border: none;

		float : left;

		&:hover {
			background-position: -36px top;
		}

	}

	#btn_3d {
		
		background-position: -218px top;

		&:hover {
			background-position: -160px top;
		}		
	}

	#btn_reset{
		margin:10px 0 0;
		padding:0;
		cursor: pointer;
		text-align: left;
		
		&:hover {
			color:#aaa;
		}		

	}

	#btn_in, #btn_out {
		background: transparent url("../data/sprite.png") no-repeat right top scroll ;
		width:23px;
		height:25px;

		margin:0;
		border: none;

		line-height: 100;

		overflow: hidden;
		display: block;

		&:hover {
			background-position: left top;
		}
			
	}
	#btn_out {
		background-position: right bottom;

		&:hover {
			background-position: left bottom;
		}
	}

	#btn_rotation {
		background: transparent url("../data/cameraNav.png") no-repeat 0 0 scroll ;

		width:210px;
		height:210px;
		padding:10px;
		position:relative;
		overflow: hidden;
		& > div{
			position:absolute;
			width:30px;
			height:30px;
			top: 100px;
			left:100px;
			margin:-10px -10px;
			background: transparent url("../data/pictoCam.png") no-repeat 0 0 scroll ;
		}
	}

}





